:root {
  --color-principal: #6656c6;
  --color-principal-alternativo: #7a6fd6;
  --color-texto-alternativo: #ffffff;
}

.btn-purple {
  background-color: var(--color-principal);
  color: var(--color-texto-alternativo);
}

.btn-purple:hover {
  background: var(--color-principal-alternativo);
  color: var(--color-texto-alternativo);
}

.btn-purple-outline {
  border-color: var(--color-principal);
  color: var(--color-principal);
}

.btn-purple-outline:hover {
  background-color: var(--color-principal);
  color: var(--color-texto-alternativo);
}