:root {
  --color-principal: #6656c6;
  --color-alternativo: #7a6fd6;
  --color-texto-alternativo: #ffffff;
}

.color-principal {
  color: var(--color-principal)
}

.color-alternativo {
  color: var(--color-alternativo);
}

.color-texto-alternativo {
  color: var(--color-texto-alternativo);
}

.btn-principal {
  background-color: var(--color-principal);
  color: var(--color-texto-alternativo);
}

.btn-principal:hover {
  background: var(--color-alternativo);
  color: var(--color-texto-alternativo);
}

.btn-principal-outline {
  border-color: var(--color-principal);
  color: var(--color-principal);
}

.btn-principal-outline:hover {
  background-color: var(--color-principal);
  color: var(--color-texto-alternativo);
}